body{
    margin: 0;
    padding: 0;
    background-color:#FFA07A;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
form{
    background-color:coral ;
    width: 450px;
    height: 420px;
    border-radius: 5px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 2.5rem;
}
label{
    font-weight: bolder;
}
input{
    width: 70%;
    height: 4%;
    border: 1px;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
}
input:focus{
    outline: none;
}
input[type="text"]{
    text-align: center;
}
input:hover{
    border: 1px solid #FF4500;
}
.btn{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 5px;
    background-color: #FF6347;
    color: white;
    font-weight: bolder;
}
.btn:hover{
    background-color: #FF4500;
    color: white;
    cursor: pointer;
}
.inside{
    display: block;
    padding: 10px;
}

